@import '../../utilities/const';
@import '../../utilities/mixins';
@import '../../layout/footer_768';
@import '../../layout/modal_768';

@media (max-width: 1280px) and (min-width: 768px) {
  .wrapper {
    max-width: 70.8rem;
  }

  .header {
    .menu__mobile {
      display: none;
    }
  }

  .pets {
    &__header {
      margin: 8rem auto 2.8rem;
    }
    &__navigation {
      margin: 3.8rem auto 0 auto;
      padding-bottom: 7.6rem;
    }
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
      max-width: 58rem;
      margin: 0 auto;
      &-wrapper {
        max-width: 70.8rem;
      }
      &-card {
        grid-column: span 1;
      }
      &-card:nth-child(n + 7) {
        display: none;
      }
    }
  }
}
