@import '../../utilities/const';
@import '../../utilities/mixins';
@import '../../layout/footer_320.scss';
@import '../../layout/hamburger_menu.scss';
@import '../../layout/modal_320.scss';

@media (max-width: 767px) {
  .wrapper {
    max-width: 92%;
    padding-top: 2.9rem;
  }

  .header {
    .logo {
      &__subtitle {
        text-align: left;
      }
    }
    .menu {
      width: inherit;
      margin: auto 0;
      margin-right: 4rem;
      flex-direction: column;
      .hamburger {
        top: 5rem;
      }

      &__mobile {
        position: fixed;
        right: 5rem;
        top: 4.8rem;
        display: block;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        :focus {
          outline: none;
        }
      }
      .list__wrapper {
        transition: 1.5s;
        padding-top: 8rem;
        background: $color-light-l;
      }
      .list__wrapper.active {
        right: 0;
      }
      #list {
        display: none;
        flex-direction: column;
      }
      #list.show {
        display: flex;
        padding-top: 24.8rem;
        align-items: center;
        width: inherit;
        .list__item {
          padding-top: 4rem;
        }
        .list__item:nth-child(1) {
          padding: 0;
        }
        .list__link {
          font-size: 3.2rem;
        }
      }
    }
    #menu__mobile-toggle {
      display: none;
    }
    #menu__mobile-toggle:checked + .list {
      display: block;
    }
  }

  .pets__header {
    margin: 4rem auto 4.5rem;
    h3 {
      font-size: 2.4rem;
    }
  }

  .pets__cards {
    grid-template-columns: repeat(1, 1fr);
    :nth-child(n + 4) {
      display: none;
    }
    &-card {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .pets__navigation {
    margin: 4rem auto 0 auto;
    padding-bottom: 4.2rem;
    max-width: 95%;
    &-list {
      width: 30rem;
    }
  }
}
