@mixin h2 {
    font: {
        family: Georgia;
        size: 4.4rem;
        weight: 400;
    }
    line-height: 130%;
}

@mixin h3 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.5rem;
    }
    line-height: 130%;
    letter-spacing: 0.21rem;
}

@mixin h4 {
        font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 2rem;
    }
    line-height: 115%;
    letter-spacing: 0.12rem;
}

@mixin h5 {
    font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 1.5rem;
    }
    line-height: 110%;
    letter-spacing: 0.09rem;
}

@mixin paragraph-l {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }
    line-height: 160%;
}

@mixin paragraph-s {
    font: {
        family: Arial;
        style: italic;
        weight: normal;
        size: 1.2rem;
    }
    line-height: 150%;
}

@mixin logo_title {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.2rem;
    }
    line-height: 110%;
    letter-spacing: 0.192rem;
}

@mixin logo_subtitle {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.3rem;
    }
    letter-spacing: 0.13rem;
    line-height: 110%;
}

@mixin slider_button {
    border: 3px solid $color-primary;
    border-radius: 100%;
    padding: 1.9rem;
    background: none;
}

@mixin button_text {
    font: {
        family: Georgia;
        size: 1.7rem;
    }
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    align-self: center;
}