@media (max-width: 767px) {
  .line {
    display: block;
    position: absolute;
    height: 2px;
    width: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background: $color-primary;
    border-radius: 1rem;
    transition: all 0.15s ease;

    &:first-child {
      top: 1.1rem;
    }

    &:nth-child(2) {
      top: 2.1rem;
    }

    &:last-child {
      top: 3.1rem;
    }
  }

  .hamburger {
    height: 5rem;
    width: 5rem;
    position: absolute;
    right: 4.3rem;
    top: 2rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    transform: translate(-5%, -50%);
    z-index: 2;

    :hover {
      background: lighten(white, 10%);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      transform: scale(1.1);
      transition: all 0.2s ease;
    }
  }
  .close {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    span:first-child {
      color: #000;
      top: 15px;
      transform: translate(-14px, 10px) rotate(135deg);
    }
    span:nth-child(2) {
      left: -20px;
      opacity: 0;
    }
    span:last-child {
      top: 15px;
      transform: translate(-14px, 10px) rotate(-135deg);
    }
  }
  .menu {
    .list__wrapper {
      display: none;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100%;
      left: 0;
      background: $color-dark-3xl;
      transition: 1.5s;
      transform: translateX(4rem);
      transition: all 0.5s ease-in-out;
      &.visible {
        transform: translateX(0);
      }
    }
    .close {
      display: block;
    }
  }
}
