@media (max-width: 767px) {
  .modal {
    max-width: 24rem;
    max-height: 40rem;
    left: calc(50% - 12rem);
    &__img {
      max-height: 0;
      max-width: 0;
    }
    &__content {
      padding: 0 1rem 0 1rem;
      &-title {
        padding: 1rem 0 1rem 0;
      }
      &-description {
        font-size: 1.3rem;
        padding-top: 2rem;
      }
      &-list {
        padding-top: 2rem;
        padding-left: 1.1rem;
        font-size: 1.3rem;
      }
      &-item {
        margin-bottom: 0.5rem;
      }
    }
    &_close {
      &-btn {
        left: calc(50% - 2.6rem);
      }
    }
  }
}
