@import '../utilities/const.scss';
@import '../utilities/mixins.scss';

.modal {
  position: fixed;
  top: calc(80% - 50rem);
  left: calc(50% - 85.1rem / 2);
  margin: 0 auto;
  display: none;
  border-radius: 9px;
  background-color: $color-light-s;
  z-index: 1;
  &__overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6%);
    z-index: 1;
  }
  &__img {
    height: 50rem;
    width: 50rem;
    border-radius: 9px;
  }
  &__content {
    padding: 0 3rem 0 2rem;
    max-width: 35.1rem;
    &-title {
      @include h3;
      padding: 5rem 0 1rem 0;
      &-secondary {
        @include h4;
      }
    }
    &-description {
      @include h5;
      padding-top: 4rem;
    }
    &-list {
      @include h5;
      padding-top: 4rem;
      padding-left: 1.4rem;
      list-style: none;
    }
    &-list li::before {
      content: '\2022';
      color: $color-primary;
      font-weight: bold;
      display: inline-block;
      width: 1rem;
      margin-left: -1rem;
    }
    &-item {
      margin-bottom: 1rem;
    }
    span:first-child {
      font-weight: 700;
    }
  }
  &_close {
    &-btn {
      display: none;
      position: absolute;
      top: -5.5rem;
      right: -5.5rem;
      border: 3px solid $color-primary;
      border-radius: 100%;
      padding: 1.9rem;
      background: none;
      height: 5.2rem;
      width: 5.2rem;
      z-index: 2;
    }
    &-cross {
      display: none;
      position: absolute;
      right: 0.7rem;
      top: 0.7rem;
      width: 32px;
      height: 32px;
      opacity: 0.3;
    }
    &-cross:hover {
      opacity: 1;
    }
    &-cross:before,
    &-cross:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: honeydew;
    }
    &-cross:before {
      transform: rotate(45deg);
    }
    &-cross:after {
      transform: rotate(-45deg);
    }
  }
}
